.env
*.jar
!plugins/**/.gitkeep
proxy/forwarding.secret
data/
lobby-data/
survival-data/
proxy-data/
**/*.log
crash-reports/
libraries/
versions/
world/
world_nether/
world_the_end/
.idea/
.vscode/
.DS_Store
